Pillow
PyPDF2
beautifulsoup4
cryptography
Django
dnspython
exifread
olefile
pefile
rarfile
requests
python-magic
stegano
tldextract
whois
pywin32; platform_system=='Windows'
xhtml2pdf
gunicorn
whitenoise
dj-database-url
psycopg2-binary
